{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Scripts de los inconos-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-YWcnnkL8jCqPbDasnxGk UH/TFl3VEpJOJulj7VWQfYt3z2eIWgtqYaMnSi+ERYvWXYgA7tZOeIlysIgbOPPvJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type= "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <title>ElRegioWeb</title>
  <link rel="icon" href="{%static "src/favicon.ico"%}">
  <header>
    <!--conectar con el archivo css y eliminar el cache al hora de actualizar -->
    <link rel="stylesheet" href="{% static 'boneless.css'%}?{% now " u"="" %}"="">
      <!--tipografia-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Days+One&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <b href="#" class="logo">
        <img src="{% static 'src/favicon.ico'%}" alt="Logo de la empresa">

    <nav>
        <!--Lista de navbar-->
        <a href="/Home" class="nav-link"> Menu</a>
        <a href="/articules" class="nav-link">Promociones</a>
        <a href="/surcunsales" class="nav-link">Ubicaciones</a>
        <a href="/Nosotros" class="nav-link">Sobre Nosotros</a>
        <a href="/register" id = "app"class="nav-link">Registrate</a>
          <a href="#" target="_blank" class="nav-link"><i class="fas fa-shopping-cart"></i></a>
          
      <!-- tik tok <a href="#" class="nav-link"><i class="fab fa-tiktok"></i></a>-->   
    </nav>
</header>
<body>
  <div class="container">
    <h1 class="Titulo">BONELESS</h1>
    <h2 class="descrip">Elige tus salsas favoritas.</h2>
    <h3>• BBQ</h3>
    <h3>• Mango Habanero</h3>
    <h3>• Zarzamora Chipotle</h3>
    <h3>• Fresa Chipotle</h3>
    <h3>• Bufalo</h3>
    <h3>• Bufalo Spicy</h3>
    <h3>• Bufalo Parmesano</h3>
    <h3>• Crema y Especias</h3>
    <h3>• Parmesano Perejil</h3>
    <h3>• Ruffles</h3>
    <h3>• Flaming Hot</h3>
  </div>

  <div class="paque1">
      <h1 class="paq1">PAQUETE #1</h1>
      <h2 class="paq1">• 8 BONELESS</h2>
      <h2 class="paq1">• 1 SALSA A ELEGIR</h2>
      <h2 class="paq1">• APIO</h2>
      <h2 class="paq1">• ZANAHORIA</h2>
      <h2 class="paq1">• ADEREZO</h2>
      <h3 class="precio">Precio=$80</h3>
      <button class="circle-button">+</button>
  </div>
  <div class="paque2">
    <h1 class="paq2">PAQUETE #2</h1>
    <h2 class="paq2">• 10 BONELESS</h2>
    <h2 class="paq2">• 1 SALSA A ELEGIR</h2>
    <h2 class="paq2">• APIO</h2>
    <h2 class="paq2">• ZANAHORIA</h2>
    <h2 class="paq2">• ADEREZO</h2>
    <h3 class="precio2">Precio=$115</h3>
    <button class="circle-button2">+</button>
</div>
<div class="paque3">
  <h1 class="paq3">PAQUETE #3</h1>
  <h2 class="paq3">• 15 BONELESS</h2>
  <h2 class="paq3">• 2 SALSA A ELEGIR</h2>
  <h2 class="paq3">• APIO</h2>
  <h2 class="paq3">• ZANAHORIA</h2>
  <h2 class="paq3">• 2 ADEREZO</h2>
  <h3 class="precio3">Precio=$150</h3>
  <button class="circle-button3">+</button>
</div>
<div class="paque4">
  <h1 class="paq4">PAQUETE #4</h1>
  <h2 class="paq4">• 20 BONELESS</h2>
  <h2 class="paq4">• 3 SALSA A ELEGIR</h2>
  <h2 class="paq4">• APIO</h2>
  <h2 class="paq4">• ZANAHORIA</h2>
  <h2 class="paq4">• 3 ADEREZO</h2>
  <h3 class="precio4">Precio=$180</h3>
  <button class="circle-button4">+</button>
</div>
<div class="paque5">
  <h1 class="paq5">PAQUETE #5</h1>
  <h2 class="paq5">• 30 BONELESS</h2>
  <h2 class="paq5">• 3 SALSA A ELEGIR</h2>
  <h2 class="paq5">• APIO</h2>
  <h2 class="paq5">• ZANAHORIA</h2>
  <h2 class="paq5">• 3 ADEREZO</h2>
  <h3 class="precio5">Precio=$260</h3>
  <button class="circle-button5">+</button>
</div>
</body>
</head>
</html>