html {
    min-height: 100%;
    position: relative;
}
body{
    /*letra y el margin para que el rectangulo este en la origa*/
    font-family: "Judson", serif ; 
    color: white;
    margin: 0; 
    /*Fondo de pagina web*/
    height: 120vh;
    background:url(src/img/fondo.png) center;
    background-size: cover;
    backdrop-filter: blur(2px);
    border :2px;
}
header{
    /*para que sea muetre orizontarl*/
    display: flex;
    justify-content: space-between;
    background:#000000;
    align-items: center;
}

/*apartado de logo*/
.logo{
    display: flex;
    margin-top: 1%;
    margin-left: 2.5%;
}
.logo{
        height: 90px;
        margin-right: 0px;
}
/*color de las letras y elimina la linea azul del los links*/
a{
    text-decoration: none;
    color: white;
}
/*tamaño de separacionde los textos*/
nav a{
font-weight: 5px;
    padding:  60px;

}
/*color cuando se selecciona los links*/
nav a:hover{
    color :red;
}

@media (max-widh:700px){
    header{
        justify-content: center;
        margin-top: 5px;
        justify-content: center;
    }
}

nav {
    font-size: 130%;
    font-family: "Judson",serif;
    /*MODIFICAR EL LUGAR DE LAS LETRAS*/
    padding: 40px 0px;
    margin-top: -1%;
    margin-left: 2%;
    margin-right: -2%;
}

div.container{
    background: url(src/front_dese.png);
    background-size: 350px 500px;
    width: 350px;
    height: 500px;
    margin-left: 2%;
    margin-top: 5%;
    border-radius: 40px;
}

h1.Titulo{
    margin-top: 3%;
    margin-left: 4%;
    font-size: 50px;
}

h2.descrip{
    margin-top: -6%;
    margin-left: 4%;
    font-size: 200%;
}

h3{
    margin-top: -2%;
    margin-left: 4%;
    font-size: 16px;
}

div.paque1{
    background-color: #000000;
    width: 300px;
    height: 350px;
    border-radius: 40px;
    margin-left: 5%;
    margin-top: 5%;
}
h1.paq1{
   margin-left: 15%;
   font-size: 40px;
}
h2.paq1{
    margin-left: 10%;
    font-size: 20px;
    margin-top: -2%;
}

h3.precio{
    margin-left: 20%;
    font-size: 20px;
    margin-top: 10%;

}

.circle-button {
    margin-top: -16%;
    margin-left: 60%;
    width: 40px; /* Tamaño del botón */
    height: 40px;
    background-color: white; /* Color de fondo del botón */
    border: none;
    border-radius: 50%; /* Hace el botón circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Tamaño del símbolo de más */
    color: black; /* Color del símbolo de más */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del botón */
    transition: background-color 0.3s, transform 0.3s;
}

.circle-button:hover {
    background-color: #e0e0e0; /* Cambio de color al pasar el ratón */
    transform: scale(1.1); /* Efecto de agrandamiento al pasar el ratón */
}

div.paque2{
    background-color: #000000;
    width: 300px;
    height: 350px;
    border-radius: 40px;
    margin-left: 2%;
    margin-top: 5%;
}
h1.paq2{
   margin-left: 15%;
   font-size: 40px;
}
h2.paq2{
    margin-left: 10%;
    font-size: 20px;
    margin-top: -2%;
}

h3.precio2{
    margin-left: 20%;
    font-size: 20px;
    margin-top: 10%;

}

.circle-button2 {
    margin-top: -16%;
    margin-left: 60%;
    width: 40px; /* Tamaño del botón */
    height: 40px;
    background-color: white; /* Color de fondo del botón */
    border: none;
    border-radius: 50%; /* Hace el botón circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Tamaño del símbolo de más */
    color: black; /* Color del símbolo de más */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del botón */
    transition: background-color 0.3s, transform 0.3s;
}

.circle-button2:hover {
    background-color: #e0e0e0; /* Cambio de color al pasar el ratón */
    transform: scale(1.1); /* Efecto de agrandamiento al pasar el ratón */
}
div.paque3{
    background-color: #000000;
    width: 300px;
    height: 350px;
    border-radius: 40px;
    margin-left: 2%;
    margin-top: 5%;
}
h1.paq3{
   margin-left: 15%;
   font-size: 40px;
}
h2.paq3{
    margin-left: 10%;
    font-size: 20px;
    margin-top: -2%;
}

h3.precio3{
    margin-left: 20%;
    font-size: 20px;
    margin-top: 10%;

}

.circle-button3 {
    margin-top: -16%;
    margin-left: 60%;
    width: 40px; /* Tamaño del botón */
    height: 40px;
    background-color: white; /* Color de fondo del botón */
    border: none;
    border-radius: 50%; /* Hace el botón circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Tamaño del símbolo de más */
    color: black; /* Color del símbolo de más */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del botón */
    transition: background-color 0.3s, transform 0.3s;
}

.circle-button3:hover {
    background-color: #e0e0e0; /* Cambio de color al pasar el ratón */
    transform: scale(1.1); /* Efecto de agrandamiento al pasar el ratón */
}
div.paque4{
    position: absolute;
    background-color: #000000;
    width: 300px;
    height: 350px;
    border-radius: 40px;
    margin-left: 42%;
    margin-top: 30%;
}
h1.paq4{
   margin-left: 15%;
   font-size: 40px;
}
h2.paq4{
    margin-left: 10%;
    font-size: 20px;
    margin-top: -2%;
}

h3.precio4{
    margin-left: 20%;
    font-size: 20px;
    margin-top: 10%;

}

.circle-button4 {
    margin-top: -16%;
    margin-left: 60%;
    width: 40px; /* Tamaño del botón */
    height: 40px;
    background-color: white; /* Color de fondo del botón */
    border: none;
    border-radius: 50%; /* Hace el botón circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Tamaño del símbolo de más */
    color: black; /* Color del símbolo de más */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del botón */
    transition: background-color 0.3s, transform 0.3s;
}

.circle-button4:hover {
    background-color: #e0e0e0; /* Cambio de color al pasar el ratón */
    transform: scale(1.1); /* Efecto de agrandamiento al pasar el ratón */
}
div.paque5{
    position: absolute;
    background-color: #000000;
    width: 300px;
    height: 350px;
    border-radius: 40px;
    margin-left: 65%;
    margin-top: 30%;
}
h1.paq5{
   margin-left: 15%;
   font-size: 40px;
}
h2.paq5{
    margin-left: 10%;
    font-size: 20px;
    margin-top: -2%;
}

h3.precio5{
    margin-left: 20%;
    font-size: 20px;
    margin-top: 10%;

}

.circle-button5 {
    margin-top: -16%;
    margin-left: 60%;
    width: 40px; /* Tamaño del botón */
    height: 40px;
    background-color: white; /* Color de fondo del botón */
    border: none;
    border-radius: 50%; /* Hace el botón circular */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px; /* Tamaño del símbolo de más */
    color: black; /* Color del símbolo de más */
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra del botón */
    transition: background-color 0.3s, transform 0.3s;
}

.circle-button5:hover {
    background-color: #e0e0e0; /* Cambio de color al pasar el ratón */
    transform: scale(1.1); /* Efecto de agrandamiento al pasar el ratón */
}