{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!--Scripts de los inconos-->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-YWcnnkL8jCqPbDasnxGk UH/TFl3VEpJOJulj7VWQfYt3z2eIWgtqYaMnSi+ERYvWXYgA7tZOeIlysIgbOPPvJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" type= "text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <title>ElRegioWeb</title>
  <link rel="icon" href="{%static "src/favicon.ico"%}">
  <header>
    <!--conectar con el archivo css y eliminar el cache al hora de actualizar -->
    <link rel="stylesheet" href="{% static 'alitas.css'%}?{% now " u"="" %}"="">
      <!--tipografia-->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Days+One&display=swap">
  <link href="https://fonts.googleapis.com/css2?family=Judson:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
    <b href="#" class="logo">
        <img src="{% static 'src/favicon.ico'%}" alt="Logo de la empresa">

    <nav>
        <!--Lista de navbar-->
        <a href="/Home" class="nav-link"> Menu</a>
        <a href="/articules" class="nav-link">Promociones</a>
        <a href="/surcunsales" class="nav-link">Ubicaciones</a>
        <a href="/Nosotros" class="nav-link">Sobre Nosotros</a>
        <a href="/register" id = "app"class="nav-link">Registrate</a>
          <a href="https://www.facebook.com/people/Alitas-y-Boneless-el-Regio/100068200835876/?mibextid=ZbWKwL" target="_blank" class="nav-link"><i class="fab fa-facebook"></i></a>
          <a href="https://www.facebook.com/messages/t/1988386037891207" target="_blank" class="nav-link"><i class="fab fa-facebook-messenger" ></i></a>
          <a href="https://wa.link/ft2vb5" target="_blank" class="nav-link"><i class="fab fa-whatsapp"></i></a>
          <a href="https://www.instagram.com/elregio_alitasyboneless?igsh=YTUzam1wbGN2aXd1" target="_blank" class="nav-link"><i class="fab fa-instagram"></i></a>
      <!-- tik tok <a href="#" class="nav-link"><i class="fab fa-tiktok"></i></a>-->   
    </nav>
</header>
<body>

</body>
</head>
</html>